@import url(../../../https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);







#dropdown-menu-0 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-0 .navbar-brand a {
  font-size: 48px;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-0 .nav .link,
#dropdown-menu-0 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
  font-family: 'Alegreya Sans', sans-serif;
}
#dropdown-menu-0 .navbar,
#dropdown-menu-0 .dropdown-menu {
  background: #f2f2f2;
}
#dropdown-menu-0 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-0 .dropdown-menu a:hover,
#dropdown-menu-0 .dropdown-menu a:focus {
  background: #e8e8e8;
}
#dropdown-menu-0 .navbar-toggler {
  color: #000000;
}
#content5-2 .mbr-section-title {
  font-size: 36px;
  font-family: 'Alegreya Sans', sans-serif;
}
#content5-c .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 36px;
}
#content5-d .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 36px;
}
#content5-e .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 36px;
}
#form1-3 .mbr-section-title {
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 36px;
}
